body {
    background-color: #e2dbc8;
}

.container {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    height: 50px;
}

.newForm {
    margin-top: 4px;
}

.newProject {
    display: flex;
    padding: 10px;
    margin-left: 50px;
    gap: 4px;
    align-items: center;
    border: 2px solid #b8a282;
    border-radius: 10px;
}

.projectTitleRow {
    display: flex;
    gap: 8px;
}

.header {
    margin: 4px 4px 4px 4px;
}

.project {
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 4px;
}

.projectHeading {
    display: flex;
    justify-content: space-between;
}

.projectHeadingLeft,
.projectHeadingRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.projectTitle {
    font-size: 32px;
}

.projectTable {
    width: 100%;
    /* margin: 0px 4px 0px 4px; */
}

#titleColumn {
    width: 20%;
}

#descriptionColumn {
    width: 50%;
}

#dueDateColumn,
#priorityColumn,
#removeColumn {
    width: 10%;
}

.titleRow,
.descriptionRow,
.dueDateRow,
.priorityRow,
.submitRow {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
}

table {
    border: 2px solid #94866d;
    border-collapse: collapse;
}

th {
    background-color: #b8a282;
    border: 2px solid black;
    padding: 4px;
}

td {
    background-color: #d8ccb4;
    border: 1px solid #94866d;
    padding: 4px;
    text-align: center;
}

.low {
    border-left: 2px solid green;
}

.medium {
    border-left: 2px solid yellow;
}

.high {
    border-left: 2px solid red;
}